{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">

    {% if user.is_authenticated %}
        {#    can display in "reset pass" templates if not auth#}
        {#    js#}

{#        <script src="{% static 'js/admin_scripts.js' %}" defer></script>#}

    {% endif %}
{% endblock %}

{#IN BROWSER TAB#}
{% block title %}🔸 My site admin{% endblock %}
{#{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Django site admin {% endblock %}#}

{% block branding %}
    {#<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django admin 🧊') }}</a></h1>#}
    {#    <h1 id="site-name"><a href="{% url 'admin:index' %}">Django Admin 🧊</a></h1>#}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}