{% extends 'main/base.html' %}

{% block content %}
    <div class="header">
        <a href="{% url 'post_list' %}">GO TO BLOG</a>
        {#if logged?:#}
        {#    <a href="{% url 'django1:admin_page' %}">ADMIN</a>#}
        <a href="/admin">ADMIN</a>
        <a href="/accounts">Accounts</a>
        <a href="{% url "user_list" %}">People</a>
        <a href="{% url "shop:product_list" %}">Shop</a>
{#     <li {% if section == "people" %}class="selected"{% endif %}> </li>#}

    </div>


    <div class="content">

        <div class="sidebar">
            <li>TEST</li>
            <li>TEST</li>
            <li>TEST3</li>
            <p>x</p>
        </div>

        {% if user.is_authenticated %}
            <h1>Hi, {{ user.get_username }}</h1>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}

    </div>

    <div class="footer">
        <div class="auth">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'logout' %}">Log out</a>
        </div>
        <p>2020</p>
    </div>

{% endblock %}